.Feed {
    background-color: rgb(246, 246, 246);
}
.Blogs {
    padding-top: 5vh;
}
.Blog {
    font-family: 'Montserrat', sans-serif;
    height: fit-content;
    width: 80vw;
    margin-top: 8vh;
    margin-left: 10vw;
    margin-right: 10vw;
    border-top: 0.1vh solid rgb(0, 100, 140);
    border-bottom: 0.3vh solid rgb(0, 100, 140);
    background-color: rgb(235, 235, 235);
    border-radius: 1vh;
}
.Blog h3 {
    font-family: 'Open Sans', sans-serif;
    color: dodgerblue;
    font-weight: 900;
    font-size: 3vh;
}
.Blog a {
    color: tomato;
    padding-left: 0.5vw;
    font-size: 2vh;
}
.Blog p {
    font-size: 1.8vh;
    padding-left: 2vw;
    padding-right: 2vw;
    white-space: pre-wrap;
}
.Blog-Content {
    padding: 3vh;
}
.Blog-Nav {
    display: flex;
}
.Blog-Nav z {
    color: rgb(0, 128, 255);
    font-size: 2.4vh;
}
.Blog-Nav button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}
.Blog-Nav-left {
    margin-right: auto;
}
.Blog-Nav-right {
    margin-left: auto;
    order: 2;
}
.Blog-Nav-right i:hover, .Blog-Nav-left i {
    font-size: 3.5vh;
    color: tomato;
}
.Blog-Nav-right i, .Blog-Nav-left i:hover {
    font-size: 3.5vh;
    color: rgb(0, 128, 255);
}

.Sk {
    margin-top: 8vh;
    margin-left: 10vw;
    margin-right: 10vw;
    border-bottom: 0.3vh solid rgb(220, 220, 220);
}
.Sk-Nav {
    display: flex;
}
.Sk-left {
    margin-right: auto;
}
.Sk-right {
    margin-left: auto;
    order: 2;
}