.Message {
    font-family: 'Montserrat', sans-serif;
}
.chat-menu {
  height: 100%;
  width: 30vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 2vh;
}

.chat-menu a {
  padding: 4vh 8vw 4vh 2vw;
  text-decoration: none;
  font-size: 2vh;
  color: #818181;
  display: block;
}

.chat-menu a:hover {
  color: #f1f1f1;
}

.chat-box {
    margin-left: 30vw;
    font-size: 2vh;
    padding: 0px 10px;
    background-color: rgb(230, 230, 230);
  }
.chat-head {
    position: fixed;
    color: rgb(0, 128, 255);
    width: 70vw;
}
.chat-head h1 {
    color: dodgerblue;
    margin-top: 1.5vh;
    margin-left: -70vw;
    font-size: 3.5vh;
}
.chat-msg {
    padding-top: 10vh;
    font-size: 1.6vh;
}
.msg-snd {
    background-color: lightskyblue;
    text-align: left;
    margin-left: 15vw;
    border-radius: 1vh;
}
.msg-snd p {
    color: black;
    padding: 2vh 1vw 2vh 1vw;
}
.msg-rcv {
    background-color: white;
    text-align: left;
    margin-right: 15vw;
    border-radius: 1vh;
}
.msg-rcv p {
    color: black;
    padding: 2vh 1vw 2vh 1vw;
}