.search-in input, .search-out button {
    background-color: white;
    color: rgb(0, 128, 255);
    border: none;
    outline: none;
    font-size: 2vh;
}
.search-in input {
    width: 30vw;
}
.search-out button {
    background-color: transparent;
}
.search-out i {
    font-size: 4vh;
    cursor: pointer;
    color: tomato;
}
.search-in {
    margin-left: 2vw;
    margin-right: auto;
}
.search-out {
    margin-right: 1.5vw;
    margin-left: auto;
    order: 2;
    background-color: transparent;
}
.search-box {
    display: flex;
    margin-top: 0.5vh;
}
.search-bar {
    margin-top: 4vh;
    height: 5.5vh;
    width: 40vw;
    border: 0.1vh solid rgb(0, 30, 70);
    border-radius: 5vh;
}
.search-results {
    font-family: 'Ubuntu', sans-serif;
}
.search-result {
    display: flex;
    margin-right: 35vw;
    margin-left: 35vw;
}
.result-img img {
    border-radius: 100%;
    height: 7vh;
    width: 7vh;
}
.result-names {
    margin-left: 3vw;
}
.result-names unm {
    font-size: 1.8vh;
    font-weight: 900;
    color: rgb(45, 45, 45);
}
.result-names nm {
    font-size: 1.5vh;
    color: rgb(85, 85, 85);
}
.result-ctrl {
    margin-left: 5vw;
}
.result-divider {
    background-color: rgb(110, 150, 200);
    height: 0.1vh;
    margin-right: 25vw;
    margin-left: 25vw;
}
@media only screen and (max-width: 600px) {
    .search-bar {
        margin-top: 3vh;
        height: 5vh;
        width: 70vw;
        border: 0.1vh solid rgb(0, 30, 70);
        border-radius: 5vh;
        overflow: hidden;
    }
    .search-in input {
        width: 55vw;
    }
    .search-box {
        display: flex;
        margin-top: 0.6vh;
    }
    .result-divider {
        background-color: rgb(110, 150, 200);
        height: 0.1vh;
        margin-right: 10vw;
        margin-left: 10vw;
    }
    .search-result {
        display: flex;
        margin-right: 20vw;
        margin-left: 20vw;
    }
}