.ViewAccount {
  font-family: "Ubuntu", sans-serif;
  color: dodgerblue;
}
.ViewAccount p {
  margin: 0;
}
.Prof-img img {
  border-radius: 100%;
  height: 20vh;
  width: 20vh;
}
.Prof-dtl .nm {
  color: tomato;
  font-size: 2.7vh;
  font-weight: 900;
}
.Prof-dtl .unm,
.Prof-dtl .eml {
  font-size: 1.6vh;
  color: rgb(85, 85, 85);
}
.Prof-dtl .bio {
  color: rgb(0, 128, 255);
  font-size: 1.8vh;
}
.Prof-dtl b {
  font-size: 1.8vh;
}
.Prof-math {
  display: flex;
  align-items: center;
  justify-content: center;
}
.math-dtl {
  padding: 2vh;
}
.math-dtl .no {
  font-size: 2.1vh;
  font-weight: 900;
  color: dodgerblue;
}
.math-dtl .tg {
  font-size: 1.8vh;
  color: rgb(65, 65, 65);
}
.Prof-ctrl {
  display: flex;
}
.ctrl-edit {
  margin-left: 5vw;
  margin-right: auto;
}
.ctrl-edit a,
.ctrl-delete a {
  padding: 10px 18px;
  border-radius: 4px;
}
.ctrl-edit a {
  background-color: dodgerblue;
  color: white;
}
.ctrl-delete {
  margin-right: 5vw;
  margin-left: auto;
  order: 2;
}
.ctrl-delete a {
  background-color: rgb(220, 0, 0);
  color: white;
}
.Prof-Nav {
  width: 100vw;
  border-top: 1px solid rgb(0, 30, 70);
  margin-top: 20px;
}
.Prof-Nav {
  width: 100vw;
  display: flex;
  line-height: 1.8vh;
}
.Prof-Nav a {
  height: 8vh;
  width: 100%;
  padding: 2vh;
  font-size: 2vh;
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  color: tomato;
  border-bottom: 0.1vh solid rgb(180, 180, 180);
}
::-webkit-scrollbar {
  display: none;
}
.Prof-Nav a:hover {
  color: rgb(0, 128, 255);
  border-bottom: 0.1vh solid dodgerblue;
}
.Prof-Nav a:active {
  color: rgb(0, 128, 255);
  border-bottom: 0.1vh solid dodgerblue;
}
.Prof-Nav i {
  font-size: 3.2vh;
}
.Prof-Nav-item {
  width: 100%;
}
.Prof-Nav-item .tbz {
  font-size: 1.2vh;
  font-weight: 900;
  color: rgb(65, 65, 65);
}
.item-active {
  color: rgb(0, 128, 255);
  border-bottom: 0.2vh solid dodgerblue;
}
.item-active a {
  color: rgb(0, 128, 255);
  border-bottom: 0.1vh solid dodgerblue;
}
.prof-tab-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.prof-tab-card {
  display: flex;
  align-items: center;
  border: 1px solid rgb(230, 230, 230);
  width: 40vw;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}
.prof-tab-card:hover,
.prof-tab-card:active {
  border: 1px solid rgb(200, 200, 200);
  box-shadow: 0px 0px 5px 4px #ebebeb;
}
.prof-tab-card img {
  height: 50px;
  width: 50px;
  border-radius: 1000px;
}

.prof-tab-card-content {
  margin-left: 20px;
}
.prof-tab-card time {
  display: flex;
  align-items: center;
  color: gray;
}
.prof-tab-card .liked {
  color: tomato;
}
.prof-tab-card h3 {
  margin: 0;
  color: black;
}
.prof-tab-card .not-liked {
  color: darkgray;
}
.prof-tab-card button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 18px;
}
@media only screen and (max-width: 600px) {
  .Prof-img img {
    border-radius: 100%;
    height: 15vh;
    width: 15vh;
  }

  .ctrl-edit a,
  .ctrl-delete a {
    padding: 8px 18px;
  }

  .ctrl-edit span,
  .ctrl-delete span {
    display: none;
  }
  .prof-tab-card {
    width: 80vw;
    margin: 10px;
  }
  .prof-tab-card img {
    height: 35px;
    width: 35px;
  }
  .prof-tab-card-content {
    margin-left: 10px;
  }
}
