.Logo {
  background-color: rgb(20, 20, 20);
  /*color: rgb(54, 145, 236);*/
  color: tomato;
  text-shadow: 0.1vh 0.1vh 0.1vh rgb(0, 17, 34);
  font-size: 3.6vh;
  height: 8vh;
}
.logo-text {
  padding-left: 6vw;
  padding-top: 1.2vh;
}
