.Button button {
    font-family: 'Montserrat', sans-serif;
    height: 5vh;
    width: 15vh;
    border-radius: 0.5vh;
    font-size: 1.5vh;
    font-weight: 900;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}
.normal button {
    background-color: rgb(0, 123, 247);
}
.normal button:hover {
    background-color: dodgerblue;
}
.normal button:active {
    background-color: rgb(0, 82, 165);
    border: 2px solid dodgerblue;
}
.danger button {
    background-color: rgb(200, 0, 0);
}
.danger button:hover {
    background-color: tomato;
}
.danger button:active {
    background-color: rgb(180, 0, 0);
    border: 2px solid rgb(220, 0, 0)
}
.outline button {
    color: rgb(0, 123, 247);
    background-color: transparent;
    border: 0.1vh solid rgb(0, 123, 247);
}
.outline button:hover {
    border: 0.2vh solid dodgerblue;
    color: dodgerblue;
}
.outline button:active {
    border: 0.2vh solid rgb(0, 82, 165);
}