.richEditor {
  border: 1px solid rgb(230, 230, 230);
  padding: 15px;
  min-height: 400px;
  cursor: text;
  border-radius: 5px;
  width: 100%;
}
.richEditor > * {
  margin: 0;
}
.public-DraftStyleDefault-block {
  margin: 0;
}
.blog-create {
  font-family: "Ubuntu", sans-serif;
  width: 90vw;
  margin: auto;
}
.blog-create label {
  font-size: 1.7vh;
}
.blog-create h2 {
  color: rgb(0, 70, 140);
  font-size: 2.5vh;
  font-weight: 900;
}
.blog-create a {
  font-size: 1.8vh;
}
.blog-create .ant-input {
  width: 100%;
  border: none;
  border: 1px solid rgb(220, 220, 220);
}
.content {
  height: 600vh;
  width: 75vw;
  border-radius: 0.5vh;
  resize: none;
  outline: none;
  font-size: 1.8vh;
  padding: 0.5vh 0.5vw;
}
.bio {
  resize: none;
  outline: none;
  font-size: 1.8vh;
  padding: 0.5vh 0.5vw;
}
.blog-create-nav {
  display: flex;
  justify-content: center;
}
